.overlay{
    width:0;
    height: 100%;
    position: absolute;
    background-color: rgba(191, 23, 77, 0.6);
    z-index: -1;
}
.listItem:hover .overlay{
    width: 100%;
    transition:  800ms cubic-bezier(0.25, 1, 0.5, 1);
}